@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:ital,wght@0,700;1,400&family=Nunito:ital@1&family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');
@import url(./style.css);

* {
 box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', 'Montserrat', 'Nunito', 'Open Sans', 'Poppins', sans-serif;
  margin: 0;
  box-sizing: border-box;
  
  
  
}

.react-tabs__tab {
  bottom: 0 !important;
  padding: 0 !important;
  border: none !important;
}
a {
  text-decoration: none;
}
input{
  outline: none;
}
.total{
font-size: 18px;
font-weight: 500;
line-height: 23px;
color: #3B3E44;
border: none;
background: transparent;
margin-bottom: 27px;
}
.total.active + .content{
  display: block;
}

.total.active .icon-bottom {
  transform: rotate(180deg);
}

.react-tabs__tab--selected {
  background-color: transparent !important;
  border: none !important;
  padding: 0;
}

.react-tabs__tab--selected::before{
  content: '';
  position: absolute;
  bottom: -27px;
  left: 0;
  width: 70px;
  height: 2px;
  background-color: #316BFF;
}
.sc-dMOJrz_cTbNaE{
  margin-bottom: 0px;
}
.react-tabs__tab-list {
  border: none !important;
  margin: 0 !important;
}

.react-tabs__tab {
  bottom: 0 !important;
  padding: 0 !important;
  border: none !important;
}


.css-tlfecz-indicatorContainer {
  display: none !important;
}
.css-1okebmr-indicatorSeparator {
  display: none;
}
.css-319lph-ValueContainer {
  padding: 0 !important;
  margin: 0 !important;
}
.css-6j8wv5-Input {
  margin: 0 !important;
  padding: 0 !important;
}
.css-14el2xx-placeholder {
  margin: 0 !important;
}
.css-1s2u09g-control {
    background-color: transparent !important;
    border-color: none;
    border-radius: 4px;
    border-style: none !important;
    min-height: 20px !important;
    outline: 0!important;
}
.css-tj5bde-Svg {
  display: none !important;
}
.css-1pahdxg-control {
  background-color: transparent !important;
  box-shadow: none !important;
  min-height: 20px !important;
  border: none !important;
  border-color: transparent !important;
}
.check::-webkit-inner-spin-button,
.check::-webkit-calendar-picker-indicator {
    width: 30%;
     opacity:0;   
    -webkit-appearance: none;
 }

::-webkit-datetime-edit-month-field { color: #84878B; }
::-webkit-datetime-edit-day-field { color: #84878B; }
::-webkit-datetime-edit-year-field { color: #84878B; }
::-webkit-datetime-edit-text { color: #84878B; padding: 0 0.1em; }



